# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Conda
.conda/
*.conda*

# Spark / Delta / local artifacts
out/
logs/
*.pid

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
